@model IEnumerable<Airport.Entities.Models.FlightDto>

@{
    ViewData["Title"] = "Manage";
}

<div class="container">
    <br />
    <h2>Overview of flight departures and arrivals</h2>

    

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AircraftType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FromLocation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ToLocation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartureTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ArrivalTime)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var flightItem in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => flightItem.AircraftType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => flightItem.FromLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => flightItem.ToLocation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => flightItem.DepartureTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => flightItem.ArrivalTime)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@flightItem.FlightNumber">Edit flight</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
</div>